finalflows.json
[{"id":"135a3a36.72a786","type":"tab","label":"Flow 7","disabled":false,"info":""},{"id":"11d617bb.49a248","type":"http request","z":"135a3a36.72a786","name":"","method":"GET","ret":"txt","paytoqs":"body","url":"http://api.airvisual.com/v2/nearest_city?lat={{LATITUDE}}&lon={{LONGITUDE}}&key=80b7dfaf-7852-4792-98d3-d63dba9b0734","tls":"","persist":false,"proxy":"","authType":"","x":849.4844131469727,"y":549.9999980926514,"wires":[["48bfeb8.efdc114"]],"l":false},{"id":"5f62a59b.eae9fc","type":"inject","z":"135a3a36.72a786","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":500.48438262939453,"y":555.3333415985107,"wires":[["d88bfbb8.4e03b8"]],"l":false},{"id":"13409e.4f989f63","type":"debug","z":"135a3a36.72a786","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1366.484504699707,"y":545.9999866485596,"wires":[],"l":false},{"id":"48bfeb8.efdc114","type":"json","z":"135a3a36.72a786","name":"","property":"payload","action":"obj","pretty":false,"x":953.817792892456,"y":553.9999885559082,"wires":[["e40943d5.15bef","31d5924.3adf96e"]],"l":false},{"id":"d88bfbb8.4e03b8","type":"function","z":"135a3a36.72a786","name":"","func":"\nmsg.LATITUDE=global.get(\"Lat\");\n\nmsg.LONGITUDE=global.get(\"Long\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":672.4844131469727,"y":554.9999980926514,"wires":[["11d617bb.49a248"]],"l":false},{"id":"28a8a9ea.28dcf6","type":"mqtt in","z":"135a3a36.72a786","name":"USD or  CYN","topic":"outgoingTopic2","qos":"2","datatype":"auto","broker":"bd194014.b3f31","x":69.765625,"y":229.75,"wires":[["e71bfbf9.959888"]],"l":false},{"id":"956868cb.011c98","type":"debug","z":"135a3a36.72a786","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":354.76556873321533,"y":226.08334350585938,"wires":[],"l":false},{"id":"3038eb1c.c0b104","type":"inject","z":"135a3a36.72a786","name":"Currency","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":597.4321308135986,"y":272.74998664855957,"wires":[["30cc672c.08a048"]]},{"id":"30cc672c.08a048","type":"http request","z":"135a3a36.72a786","name":"Get cureency values","method":"GET","ret":"txt","paytoqs":"body","url":"https://api.currencyscoop.com/v1/latest?api_key=53e6a9b8f099686afaef8c3057eebdc3","tls":"","persist":false,"proxy":"","authType":"","x":812.4321384429932,"y":271.74998664855957,"wires":[["d70353b0.18bc8"]]},{"id":"d70353b0.18bc8","type":"json","z":"135a3a36.72a786","name":"","property":"payload","action":"obj","pretty":false,"x":943.0988502502441,"y":270.0833616256714,"wires":[["7b6b9139.ce414"]],"l":false},{"id":"7b6b9139.ce414","type":"function","z":"135a3a36.72a786","name":"set Rate","func":"let Rate=msg.payload.response.rates.CNY;\nglobal.set(\"UtC\",Rate)\nreturn {\n    USDtoCNY:Rate,\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1038.0987606048584,"y":272.0833320617676,"wires":[["eae23ae8.e6c398"]],"l":false},{"id":"a465c010.76439","type":"debug","z":"135a3a36.72a786","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1175.7654342651367,"y":270.08334159851074,"wires":[],"l":false},{"id":"16ebe594.b4ca3a","type":"mqtt in","z":"135a3a36.72a786","name":"Amount","topic":"outgoingTopic3","qos":"2","datatype":"auto","broker":"bd194014.b3f31","x":66.43210506439209,"y":281.7499828338623,"wires":[["e2864cf5.a05a1","63c5ca7c.2e5564"]],"l":false},{"id":"7df1bf9f.8194f","type":"debug","z":"135a3a36.72a786","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":351.4320487976074,"y":278.0833263397217,"wires":[],"l":false},{"id":"972227f8.d96e98","type":"mqtt in","z":"135a3a36.72a786","name":"","topic":"outgoingTopic4","qos":"2","datatype":"auto","broker":"bd194014.b3f31","x":66.43210506439209,"y":322.74996757507324,"wires":[["e51e0b.f072c1f8"]],"l":false},{"id":"ca7fa841.8e0b28","type":"debug","z":"135a3a36.72a786","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":351.4320487976074,"y":319.0833110809326,"wires":[],"l":false},{"id":"61649079.10fe2","type":"mqtt in","z":"135a3a36.72a786","name":"","topic":"outgoingTopic5","qos":"2","datatype":"auto","broker":"bd194014.b3f31","x":68.43222236633301,"y":376.7499828338623,"wires":[["cb9d6d7e.6b82a"]],"l":false},{"id":"f923e0a4.77f63","type":"debug","z":"135a3a36.72a786","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":353.43216609954834,"y":373.0833263397217,"wires":[],"l":false},{"id":"e2864cf5.a05a1","type":"function","z":"135a3a36.72a786","name":"set Currency unit","func":"if(msg.payload==\"\"){\n    msg.payload=1;\n    global.set(\"Pref\",\"Dollars\");\n}\n\nglobal.set(\"Amount\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":183.7654905319214,"y":287.7499780654907,"wires":[["7df1bf9f.8194f","30cc672c.08a048"]],"l":false},{"id":"e71bfbf9.959888","type":"function","z":"135a3a36.72a786","name":"Set preference","func":"global.set(\"Pref\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":188.4321050643921,"y":225.7499828338623,"wires":[["956868cb.011c98"]],"l":false},{"id":"e51e0b.f072c1f8","type":"function","z":"135a3a36.72a786","name":"Set Weather preference","func":"let wh= msg.payload;\nglobal.set(\"Weather\",msg.payload);\nif ((wh==\"yes\")||(wh==\"Yes\")||(wh==\"YES\") ){\n    console.log(msg.payload);\n    msg.payload=1;\n    console.log(msg.payload);\n}\nelse{\n    msg.payload=0;\n    console.log(msg.payload);\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":189.4321050643921,"y":324.74996757507324,"wires":[["ca7fa841.8e0b28","32725a75.960de6"]],"l":false},{"id":"cb9d6d7e.6b82a","type":"function","z":"135a3a36.72a786","name":"Se Location","func":"global.set(\"location\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\nglobal.set(\"Country\",\"China\");\nflow.set(\"installationId\",\"No\");","finalize":"","x":186.432222366333,"y":373.7499828338623,"wires":[["f923e0a4.77f63"]],"l":false},{"id":"5acbfe77.dde7b","type":"openweathermap","z":"135a3a36.72a786","name":"City","wtype":"current","lon":"","lat":"","city":"","country":"","language":"en","x":434.4321041107178,"y":434.08330154418945,"wires":[["f5556b10.1d8918","a750ede2.75de6"]]},{"id":"de57009e.255f5","type":"inject","z":"135a3a36.72a786","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":172.76550769805908,"y":559.4166860580444,"wires":[["357dbccf.baa864"]],"l":false},{"id":"a30b3a4f.8c0278","type":"debug","z":"135a3a36.72a786","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":636.765567779541,"y":434.08330821990967,"wires":[],"l":false},{"id":"f5556b10.1d8918","type":"function","z":"135a3a36.72a786","name":"Location Details","func":"let desc= msg.payload.description;\nglobal.set(\"weather\",msg.payload.description);\nvar num = desc.replace(/[^0-9]/g, ''); \n//let numbers= parseInt(num,10); \nlet lat= (parseInt(num.slice(0,6)))/10000;\nlet long=(parseInt(num.slice(6)))/10000;\n\nglobal.set(\"Lat\",lat);\nglobal.set(\"Long\",long);\n\n\nreturn {\n    payload:msg.payload.description+\" And the temperature is \"+msg.payload.tempc+\" C.\",\n};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":549.0988883972168,"y":434.41667556762695,"wires":[["a30b3a4f.8c0278","e3d1259e.517e58","d88bfbb8.4e03b8"]],"l":false},{"id":"a750ede2.75de6","type":"debug","z":"135a3a36.72a786","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":517.7656354904175,"y":468.08330154418945,"wires":[],"l":false},{"id":"357dbccf.baa864","type":"function","z":"135a3a36.72a786","name":"Set Location","func":"\nreturn {\n    location:{country:global.get(\"Country\"),city:global.get(\"location\")}\n}\n    \n\n\n","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\nglobal.set(\"desc\",\"Please Enter City or Coordinates\");","finalize":"","x":301.4321002960205,"y":531.7499809265137,"wires":[["5acbfe77.dde7b"]]},{"id":"eae23ae8.e6c398","type":"function","z":"135a3a36.72a786","name":"Amount Conversion","func":"let amount=global.get(\"Amount\");\nlet UtoC=global.get(\"UtC\");\nlet pref=global.get(\"Pref\");\nvar text=\"a\";\nlet RUtoC;\nlet conv;\nif (pref==\"Dollars\"){\n    conv=(amount*(1/UtoC));\n    conv=conv.toFixed(2);\n    UtoC=UtoC.toFixed(2);\n    text=amount+\" Renminbi is  = \"+conv+\" United State dollars.    \"+\"\\n           1 Dollar is  \"+UtoC+\" Renminbi.\";\n} \nelse if (pref==\"Renminbi\"){\n   conv=(amount*UtoC); \n   conv=conv.toFixed(2);\n   RUtoC=(1/UtoC);\n   RUtoC=RUtoC.toFixed(2);\n   text=amount+\"  \\nDollars is  = \"+conv+\"  Renminbi. \"+ \"\\n           1 Renminbi is \"+RUtoC+\" Dollars.\";\n}\nelse{}\n\nreturn {\n    payload:text,\n};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1092.4320621490479,"y":270.74997329711914,"wires":[["a465c010.76439","ebc73bf8.b1e4c8"]],"l":false},{"id":"ebc73bf8.b1e4c8","type":"mqtt out","z":"135a3a36.72a786","name":"Currency","topic":"incommingCurrency","qos":"1","retain":"","broker":"bd194014.b3f31","x":1264.0988101959229,"y":198.7499656677246,"wires":[],"l":false},{"id":"e3d1259e.517e58","type":"mqtt out","z":"135a3a36.72a786","name":"","topic":"incommingWeather","qos":"1","retain":"","broker":"bd194014.b3f31","x":665.0987949371338,"y":365.7499809265137,"wires":[],"l":false},{"id":"32725a75.960de6","type":"switch","z":"135a3a36.72a786","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":234.76543140411377,"y":455.4166450500488,"wires":[["357dbccf.baa864"]],"l":false},{"id":"28e92214.50146e","type":"function","z":"135a3a36.72a786","name":"Covid data","func":"var status=msg.covid.CN;\nreturn{\n    payload:\"\\nNumber of cases :\"+status.cases+\n    \"\\nNumber of deaths :\"+status.deaths+\n    \"\\nRecovered count :\"+status.recovered+\"\\n\"+\n    \"\\nActive Covid Cases :  \"+status.active+\"\\n\"+\n    \"\\nCritical Situations :\"+status.critical+\"\\n\"+\n    \"\\nToday Covid cases :\"+status.todaycases+\"\\n\"+\n    \"\\nToday deaths :\"+status.todaydeaths,\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":613.7654361724854,"y":185.08330154418945,"wires":[["a6497cee.24fbe","f8459421.a8ab08"]]},{"id":"f8459421.a8ab08","type":"mqtt out","z":"135a3a36.72a786","name":"","topic":"incommingCovid","qos":"","retain":"","broker":"9b782984.980858","x":851.6612224578857,"y":235.08331298828125,"wires":[]},{"id":"a6497cee.24fbe","type":"debug","z":"135a3a36.72a786","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":828.6612491607666,"y":105.08330154418945,"wires":[]},{"id":"63c5ca7c.2e5564","type":"country statistics","z":"135a3a36.72a786","name":"","infected":true,"deaths":true,"recovered":true,"active":true,"critical":true,"todaycases":true,"todaydeaths":true,"casepermilion":false,"regionFilter":true,"deathspermilion":false,"regionList":"[\"CN\"]","regionListType":"json","x":428.6612491607666,"y":185.08330154418945,"wires":[["28e92214.50146e"]]},{"id":"e40943d5.15bef","type":"function","z":"135a3a36.72a786","name":"Air Quality","func":"\nlet AQI=msg.payload.data.current.pollution.aqius\n\nlet quality=\"\"\nif(AQI){\n    if(AQI<20){\n        quality=\"Very Good. There is no health risk. Enjoy Outdoor activities.\";\n    }\n    else if(AQI<50){\n        quality=\"Good. There is no health risk. Enjoy Outdoor activities.\";\n    }\n    else if(AQI<100){\n        quality=\"Moderate. Sensitive individuals may experience irritations.\";\n    }\n    else if(AQI<150){\n        quality=\"Unhealthy for Sensitive Groups. Sensitive groups should limit outdoor exertions.\";\n    }\n    else{\n        quality=\"Unhealthy. Harmful for sensitive groups. Everyone should limit outdoor activities.\";\n    }\n    return { \n        payload: \"\\n US AQI is \" + AQI+\".\"+\n        \"\\n Therefore Air Quality is \" + quality,\n        \n    }\n}\nelse{\n    return{\n        payload:\"No Data for this city\",\n    }\n}   \n    \n    \n    \n    \n    \n    ","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1115,"y":555,"wires":[["13409e.4f989f63","e899758a.5f18b8"]]},{"id":"31d5924.3adf96e","type":"debug","z":"135a3a36.72a786","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1044.2500076293945,"y":597.9999980926514,"wires":[],"l":false},{"id":"e899758a.5f18b8","type":"mqtt out","z":"135a3a36.72a786","name":"AIr Quality","topic":"incommingAirquality","qos":"","retain":"","broker":"bd194014.b3f31","x":1450.7500076293945,"y":589.9999980926514,"wires":[],"l":false},{"id":"bd194014.b3f31","type":"mqtt-broker","name":"","broker":"Broker.mqttdashboard.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"9b782984.980858","type":"mqtt-broker","name":"","broker":"Broker.mqttdashboard.com","port":"1883","clientid":"","usetls":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]